html, body, ul, li, h1, h2, h3, h4, h5, h6, span{
    margin:0;
    padding:0;
}
h1{
    font-size:2em;
}
h2{
    font-size:1.5em;
}
h3{
    font-size:1.17em;
}
h4{
    font-size:1em;
}
h5{
    font-size:.83em;
}
h6{
    font-size:.67em;
}
@font-face{
    font-family: basicFont;
    src: url("/fonts/basictitlefont.ttf");
}
ul{
    list-style:none;
}
ul a{
    color:black;
}
.fancy-script{
    font-family: 'Libre Baskerville';
    font-style:italic;
}
a{
    text-decoration:none;
}
.header-item, h1, h2, h3, h4, h5, h6{
    font-family:basicFont;
}
html{
    font-family:"Arial", 'Comic Sans MS', "Comic Sans";
    height:100%;
}
body{
    min-height:100%;
}
#background-image{
    position:absolute;
    opacity:.4;
    z-index:-1;
    background:url("/img/banner.jpg");
    background-size:100% 100%;
}
.marginalize{
    padding: 0 20%;
}

/*****************************************************
HOME BANNER
*****************************************************/
#wai-banner{
    background:url("/img/banner.jpg");
    background-size:100% 100%;
    text-align:center;
}
#banner-text h1{
    font-size:3rem;
    text-shadow: 2px 0px 20px white;
}
#banner-text h4{
    font-size:2rem;
    text-shadow: 2px 0px 20px white;
}
/**************************************************
HEADER
**************************************************/
.header{
    position:fixed;
    top:0;
    width:100%;
}
.header-item{
    position:relative;
    font-size:1.2rem;
    float:right;
    right:10%;
    padding:.5rem 1.5rem;
    cursor:default;
}
.header-item:hover{
    color:grey;
    transition:.3s;
}
/*****************************************************
CONTENT
*****************************************************/
.content{
    padding-top:1rem;
    line-height:1.5rem;
}
/*****************************************************
ABOUT
*****************************************************/
.about{
    line-height:1.5rem;
}
.header-line {
    text-decoration:underline;
    padding-top:5rem;
}
/*****************************************************
PROJECTS
*****************************************************/
.grid-item{
    line-height:1.5rem;
    margin-bottom:15px;
    border-radius:10px;
}
.grid-item a{
    color:black;
    text-decoration:none;
    margin:0 auto;
}
.project {
    margin:0 auto;
    margin-top:1rem;
    width:14rem;
    padding:0;
    background: rgba(85, 107, 47, .4);
    border-style:ridge;
    border-color: rgba(85, 107, 47, .4);
}
.project h2{
    text-align:center;
    line-height:2rem;
    padding:0.5rem 8%;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color: rgba(85, 107, 47, .4);
}

.project p{
    padding: 0 8%;
    font-size: .8rem;
}
.project img{
    width:14rem;
    margin:auto;
    background:#000;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
.project img:hover{
    opacity:.7;
    transition:.5s;
}
#project-grid{
    width:90%;
    margin:auto;
}
/*****************************************
CONTACT
*****************************************/
.contacts{
    padding-top:10%;
    margin:0 auto;
    text-align:center;
}
.contacts img{
    margin: 0 3rem;
}
.contacts img:hover{
    opacity:.5;
    transition:.5s;
}
.credit{
    position:absolute;
    font-size:.5rem;
    right:0;
    bottom:0;
}
