/***********************************************************

************************************************************/
*{
    margin:0;
    padding:0;
    font-family: 'Roboto Condensed', sans-serif;
    color:white;
}
body{
    background-image:url("/img/bg-main.png");
    color:white;
}
#main{
    width:960px;
    margin:0 auto;
}
a{
    text-decoration:none;
}
a:hover{
    text-decoration: underline;
}
header{
    padding:10px 20px;
    overflow:hidden;
    background:rgba(0,0,0,0.6);
}


footer{
    font-size:2em;
    text-align:center;
}

/***********************************************************
NAVIGATION BAR
************************************************************/
 nav ul, ul.entries{
    list-style-type: none;
}
nav li a{
    float:left;
    margin:5px;
}
/********************************************************
BODY TEMPLATE
*******************************************************/
.content{
    background-color:rgba(0, 0,0,.6); 
    margin: 20px 0;
    padding:20px;
}

/************************************************************
POSTS
***************************************************************/

ul.entries{
    width:100%;
}
ul.entries li {
    position:relative;
    width:90%;
    margin:1% auto;
    padding:20px;
    background-color:rgba(0,0,255, 0.2);
}
ul.entries a {
    color:#ececec;
}
ul.entries a:hover{
    color:#fff;
}
