<head>
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700italic,700,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js'></script>
    <script src="/js/frameworks/jquery.masonry.min.js"></script>
    <link rel="stylesheet" href="/css/style.css"/>
    <title>
        {% if page.title %} 
            {{page.title}} |
        {% endif %}
        {{site.author}}
    </title>
</head>
